*/{
    margin: 0%;
    padding: 0%;
}
.rer{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 47px;
    color: rgb(255, 0, 0);
    padding-left: 58px;
}
.ty{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 47px;
}
.aa{
    height: 70vh;
    width: 100%;
    background-image: url(../media/images.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    
}
.main{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.aa h4{
    text-align: start;
    color:white;
    font-size: xx-large;
    padding-left:80px;
    padding-top: 100px;
}
